Package: WSJT
Version: 7.0.4r1584
Section: unknown
Priority: optional
Architecture: i386
Depends: python-tk,python-imaging-tk,python-numpy,libsamplerate0
Maintainer: Joe Taylor, K1JT <k1jt@arrl.net>
Description: Amateur Radio weak-signal communication.
